/* .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.box{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    margin: 12px 10px;
    gap: 2px;
    text-align: center;
    background-color: aqua;
    padding: 15px;
    color: rgb(231, 17, 17);
    font-size: larger;
    font-weight: bold;
    
}

.light{
    background-color: azure;
}

.dark{
    background-color: black;
} */